<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<table>
    <tr>
        <th>sl No.</th>
        <th>NAME</th>
        <th>CONTACT NO</th>
        <th>ADDRESS</th>
    </tr>
    {% for i in data %}
    <tr>
        <td class="py-1">{{ forloop.counter }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.phonenumber }}</td>
        <td>{{ i.address }}</td>
        </form>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>

